# Workspace tooling
/depot_tools/
/docs/
/_gclient_*/
/_bad_scm/
/.gclient_entries
/.gcs_entries
/.cipd_bin/
/.cipd/
/.github/
/.cursor/
/cipd_bin/

# gclient / Chromium checkout
/src/

# Python
__pycache__/
*.pyc
